body {
    background-image: url(../images/wallpaper.jpg);
}

img {
    width: 100%;
}

.title {
    font-family: 'Anton', sans-serif;
    font-size: 80px;
}

.saitamaImg {
    width: 185px;
}

.genosImg {
    width: 185px;
}

.borosImg {
    width: 185px;
}

.crabImg {
    width: 185px;
}

.textChar {
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.myText {
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
    font-size: 25px;
}