body {
    background-image: url(../images/wallpaper.jpg);
}

img {
    width: 100%;
}

.title {
    font-family: 'Anton', sans-serif;
    font-size: 80px;
}

.start {
    width: 90%;
    margin: 0 auto;
}

.charImages {
    width: 95%;
}

.textChar {
    font-family: 'Catamaran', sans-serif;
    font-weight: bold;
    font-size: 20px;
    color: white;
}

.myText {
    font-family: 'Anton', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.myMessage {
    background: white;
}