body {
    background-image: url(../images/wallpaper.jpg);
}

.title {
    font-family: 'Anton', sans-serif;
    font-size: 80px;
}
/**font-family: 'Catamaran', sans-serif;**/
.saitamaImg {
    width: 185px;
}

.genosImg {
    width: 185px;
}

.borosImg {
    width: 185px;
}

.crabImg {
    width: 185px;
}